1 = rock
2 = paper
3 = scissors
0 = no input

In [2]:
# imports
import pandas as pd
import numpy as np
import pymc3 as pm
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
# from catboost import CatBoostClassifier

# ignore future warning
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [20]:

# read data
df = pd.read_csv('data/rock_paper.csv')

# make dummy df for predictions
dummy = df.head(1).copy()

In [21]:
df2 = df.loc[1:10].copy()

In [22]:
df2

    game_id  game_round_id  player_one_throw  player_two_throw
1         1              1                 2                 3
2         1              2                 3                 2
3         1              3                 1                 1
4         1              3                 1                 2
5         1              4                 2                 3
6         2              5                 1                 0
7         3              6                 1                 1
8         3              6                 2                 1
9         3              7                 3                 3
10        4              8                 1                 3

In [40]:
type(df2['game_id'])

pandas.core.series.Series

In [28]:
def game(input):
    df['p1'].append(input)

In [42]:
df['p1']

0    1
Name: p1, dtype: int64

In [57]:
def round1():
    p2.append(1)

In [64]:
p1.append(1)

In [65]:
if p1[1] == 1 & p2[1] ==1:
    print('win')
else:
    print('lose')

win

In [66]:
len(p1)

2

In [85]:
import numpy as np

1

In [281]:
# df = pd.DataFrame({
#     "ID": [0],
#     "p1": [0],
#     "p2": [0],
#     })
df = pd.DataFrame()
ID = []
p1 = []
p2 = []
df['ID'] = ID
df['p1'] = p1
df['p2'] = p2

In [301]:
df = pd.DataFrame()
ID = []
p1 = []
p2 = []
df['ID'] = ID
df['p1'] = p1
df['p2'] = p2

In [308]:
def game(Max):
    John = np.random.randint(1,3)
    ID.append(len(p1))
    print(ID)
    p1.append(Max)
    p2.append(John)
    print(len(p1))
    print(p1)
    print(len(p2))
    print(p2)
    df['ID'] = [ID]
    df['p1'] = [p1]
    df['p2'] = [p2]

In [313]:
game(3)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
9
[3, 3, 3, 3, 3, 3, 3, 3, 3]
9
[1, 2, 2, 1, 2, 2, 2, 2, 2]

In [304]:
type(df['ID'])

pandas.core.series.Series

In [274]:
    df['ID'] = list(ID)
#     df['p1'] = p1
#     df['p2'] = p2

ValueError: Length of values does not match length of index

In [258]:
df

   ID  p1  p2
0   0   0   0

In [249]:
df

   ID  p1  p2
0   0   0   0
1   1   3   2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
14
[0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]
14
[0, 2, 1, 1, 2, 1, 2, 2, 2, 1, 2, 1, 2, 1]

ValueError: Length of values does not match length of index

In [188]:
df

   ID  p1  p2
0   0   0   0
1   1   3   2

In [162]:
for i in range (0, len(p1)):
    if p1[i] == 1 & p2[i] == 1:
        print("draw... Good Job Max")
    elif p1[i] == 2 & p2[i] == 2:
        print("draw... Good Job Max")
    elif p1[i] == 3 & p2[i] == 3:
        print("draw... Good Job Max")
        
    elif p1[i] == 1 & p2[i] == 2:
        print("I win, too bad so sad")
    elif p1[i] == 1 & p2[i] == 3:
        print("I lose... Good Job Max")
        
    elif p1[i] == 2 & p2[i] == 1:
        print("I lose... Good Job Max")
    elif p1[i] == 2 & p2[i] == 3:
        print("I win, too bad so sad")
        
    elif p1[i] == 3 & p2[i] == 1:
        print("I win, too bad so sad")
    elif p1[i] == 3 & p2[i] == 2:
        print("I lose... Good Job Max")
    else: 
        print("Do you really want to play?")

Do you really want to play?
Do you really want to play?

In [163]:
# 1 = rock
# 2 = paper
# 3 = scissors
# 0 = no input

In [45]:
p1 = list(df['p1'])

In [47]:
p1.append(input)

In [3]:
# make columns with the last turn, two turns ago
df['p1_t-1'] = df.groupby('game_id')['player_one_throw'].shift(1)
df['p1_t-2'] = df.groupby('game_id')['player_one_throw'].shift(2)
df['p1_t-3'] = df.groupby('game_id')['player_one_throw'].shift(3)
df['p1_t-4'] = df.groupby('game_id')['player_one_throw'].shift(4)
df['p1_t-5'] = df.groupby('game_id')['player_one_throw'].shift(5)
df['p2_t-1'] = df.groupby('game_id')['player_two_throw'].shift(1)
df['p2_t-2'] = df.groupby('game_id')['player_two_throw'].shift(2)
df['p2_t-3'] = df.groupby('game_id')['player_two_throw'].shift(3)
df['p2_t-4'] = df.groupby('game_id')['player_two_throw'].shift(4)
df['p2_t-5'] = df.groupby('game_id')['player_two_throw'].shift(5)

# make y the next throw
y = df.groupby('game_id')['player_one_throw'].shift(-1)

# fill NaN's with 0's
df = df.fillna(0)
y = y.fillna(0)

In [4]:
df.sample()

,game_id,game_round_id,player_one_throw,player_two_throw,p1_t-1,p1_t-2,p1_t-3,p1_t-4,p1_t-5,p2_t-1,p2_t-2,p2_t-3,p2_t-4,p2_t-5
311193,92497,214447,1,2,1.0,2.0,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0

In [5]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=42)

In [6]:
# RANDOM FORESTS
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
print('random forest train score: ', rf.score(X_train, y_train))
print('random forest test score: ', rf.score(X_test, y_test))

random forest train score:  0.9678132275305767
random forest test score:  0.4483389920777578

In [ ]:
# # CATBOOST
# cb = CatBoostClassifier()
# cb.fit(X_train, y_train, plot=True, logging_level='Silent')
# print('catboost score on train: ', cb.score(X_train, y_train))
# print('catboost score on test: ', cb.score(X_test, y_test))